@charset "UTF-8";
@font-face {
  /* police utilisé pour le site */
  font-family: "Shrikhand";
  src: url("../font/Shrikhand.ttf") format("truetype"), url("../font/Shrikhand.otf") format("embedded-opentype"), url("../font/Shrikhand.woff") format("woff"), url("../font/Shrikhand.woff2") format("woff2"), url("../font/Shrikhand.svg") format("svg"), url("../font/Shrikhand.eot") format("eot");
}
@font-face {
  font-family: "robotoregular";
  src: url("../font/Roboto-Regular-webfont.eot") format("embedded-opentype"), url("../font/Roboto-Regular-webfont.woff") format("woff"), url("../font/Roboto-Regular-webfont.ttf") format("truetype"), url("../font/Roboto-Regular-webfont.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}
@keyframes croc {
  0% {
    opacity: 0;
  }
  1% {
    opacity: 1;
  }
  55% {
    opacity: 1;
  }
  56% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
@keyframes rotateburger {
  0% {
    transform: rotate(0deg);
  }
  22% {
    transform: rotate(0deg);
  }
  75% {
    transform: rotate(5turn);
  }
  100% {
    transform: rotate(5turn);
  }
}
@keyframes page {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes plat {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}
@keyframes add {
  0% {
    transform: translateX(80px);
  }
  100% {
    transform: translateX(0px);
  }
}
.load {
  position: relative;
  top: 200px;
  left: auto;
  bottom: auto;
  right: auto;
  width: 100px;
  margin: auto;
  margin-top: -100px;
  animation: rotateburger 1.7s cubic-bezier(0.98, 0.09, 0.11, 0.98) 500ms infinite;
}
.load__burger {
  font-size: 100px;
  color: #9356DC;
}
.load__croc {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: white;
  animation: croc 1.7s 500ms backwards infinite;
}
.load__croc--1 {
  position: absolute;
  top: 0px;
  left: 0px;
  bottom: auto;
  right: auto;
}
.load__croc--2 {
  position: absolute;
  top: 15px;
  left: -2px;
  bottom: auto;
  right: auto;
}
.load__croc--3 {
  position: absolute;
  top: 25px;
  left: -10px;
  bottom: auto;
  right: auto;
}

.page {
  animation: page 500ms 3s both;
}

body {
  margin: unset;
  font-family: robotoregular, Arial, serif;
}

.btn {
  border-radius: 1.5em;
  background: linear-gradient(#FF79DA, #9356DC);
  height: 3em;
  width: 50%;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: white;
  box-shadow: 5px 5px 5px #e6e6e6;
  position: relative;
  z-index: 1;
}
.btn:hover {
  box-shadow: 5px 5px 5px #d9d9d9;
}
.btn:hover::after {
  opacity: 1;
}
.btn::after {
  content: "";
  border-radius: 1.5em;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: linear-gradient(#fface8, #ae80e5);
  opacity: 0;
  z-index: -1;
  transition: opacity 250ms ease-in-out;
}

.header {
  display: flex;
  justify-content: center;
  align-content: center;
}
.header__heading {
  font-family: Shrikhand, Arial, serif;
  margin-top: 10px;
  margin-bottom: 6px;
}
.header__back {
  position: absolute;
  top: 25px;
  left: 25px;
  bottom: auto;
  right: auto;
  font-size: 20px;
  color: black;
}

.location {
  display: flex;
  background-color: #ebebeb;
  justify-content: center;
  align-items: center;
  height: 50px;
  box-shadow: inset 0px 5px 2px #dbdbdb;
}
.location form {
  width: 40%;
}
.location__input {
  color: black;
  background-color: #ebebeb;
  border: none;
  margin-left: 10px;
}

.presentation {
  background-color: whitesmoke;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding-top: 40px;
  padding-bottom: 60px;
}
.presentation__title {
  margin-top: unset;
  width: 70%;
}
.presentation__text {
  margin-bottom: 25px;
  width: 80%;
}
.presentation__btn {
  width: 65%;
}

.fonctionnement {
  display: flex;
  flex-direction: column;
  padding-top: 20px;
  padding-bottom: 40px;
}
.fonctionnement__title {
  margin-left: 20px;
}
.fonctionnement .etape {
  display: flex;
  align-items: center;
  background-color: whitesmoke;
  box-shadow: 5px 5px 5px #e6e6e6;
  width: 90%;
  margin: auto;
  margin-bottom: 20px;
  border-radius: 15px;
}
.fonctionnement .etape__numero {
  background-color: #9356DC;
  color: white;
  width: 22px;
  text-align: center;
  border-radius: 50%;
  position: relative;
  top: auto;
  left: -10px;
  bottom: auto;
  right: auto;
}
.fonctionnement .etape__icone {
  color: gray;
  margin-left: 10px;
  width: 19px;
  margin-right: 20px;
}
.fonctionnement .etape__text {
  font-weight: 600;
}

.restaurant-grid {
  background-color: whitesmoke;
  padding-top: 20px;
  padding-bottom: 140px;
}
.restaurant-grid__title {
  margin-left: 20px;
}

.restaurant-link {
  background-color: white;
  width: 90%;
  margin: auto;
  display: block;
  box-shadow: 5px 5px 5px #e6e6e6;
  text-decoration: none;
  color: black;
  position: relative;
  border-radius: 15px;
  margin-bottom: 15px;
}
.restaurant-link__nouveau {
  margin: unset;
  position: absolute;
  top: 15px;
  left: auto;
  bottom: auto;
  right: 15px;
  color: #278870;
  background-color: #99E2D0;
  padding: 3px 10px;
  border-radius: 2px;
}

.figure {
  margin: unset;
}
.figure__image {
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
}
.figure__caption {
  padding-left: 15px;
  padding-bottom: 15px;
  position: relative;
}
.figure__caption h3 {
  margin-top: 10px;
  margin-bottom: 0px;
}
.figure__caption p {
  margin-top: 5px;
  margin-bottom: 0px;
}
.figure__caption i {
  position: absolute;
  top: 10px;
  left: auto;
  bottom: auto;
  right: 20px;
  font-size: 20px;
  z-index: 1;
}
.figure__caption i:hover::after {
  transform: scale(1);
}
.figure__caption i::after {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "";
  background: -webkit-linear-gradient(#FF79DA, #99E2D0);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  transform-origin: 50% 100%;
  transform: scale(0);
  z-index: -1;
  transition: transform 800ms ease-in-out;
}

.menu-grid {
  background-color: whitesmoke;
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
  padding-bottom: 80px;
  position: relative;
  top: -90px;
  left: auto;
  bottom: auto;
  right: auto;
  z-index: 100;
}
.menu-grid__title {
  margin: unset;
  font-family: Shrikhand, Arial, serif;
  font-size: 1.7em;
  font-weight: normal;
  width: auto;
  margin-left: 20px;
  padding-top: 30px;
}
.menu-grid__heart {
  position: absolute;
  top: 30px;
  left: auto;
  bottom: auto;
  right: 30px;
  font-size: 30px;
}
.menu-grid__text {
  margin: unset;
  margin-left: 15px;
  font-weight: normal;
  text-transform: uppercase;
  font-size: 1em;
  margin-top: 30px;
}
.menu-grid__text::after {
  content: "";
  display: block;
  width: 40px;
  border-top: 3px solid #99E2D0;
  margin-top: 3px;
}
.menu-grid__btn {
  margin-top: 50px;
}

.menu-plat {
  background-color: white;
  border-radius: 15px;
  width: 90%;
  margin: auto;
  margin-top: 15px;
  padding-left: 12px;
  padding-top: 12px;
  padding-bottom: 12px;
  position: relative;
  box-shadow: 5px 5px 5px #e6e6e6;
  z-index: 1;
  overflow: hidden;
}
.menu-plat:hover .add {
  transform: translateX(0px);
}
.menu-plat:hover .check {
  transform: rotate(0);
}
.menu-plat:hover .menu-plat__prix {
  transform: translate(-60px);
}
.menu-plat .add {
  content: "";
  position: absolute;
  top: 0px;
  left: auto;
  bottom: auto;
  right: 0px;
  width: 60px;
  height: -webkit-fill-available;
  color: white;
  background-color: #99E2D0;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top-right-radius: inherit;
  border-bottom-right-radius: inherit;
  z-index: -100;
  transform: translateX(60px);
  transition: transform 430ms ease-in-out;
}
.menu-plat .check {
  transform: rotate(-1turn);
  transition: transform 330ms ease-in-out 100ms;
}
.menu-plat__prix {
  position: absolute;
  top: auto;
  left: auto;
  bottom: 10px;
  right: 20px;
  margin: unset;
  font-weight: bold;
  transition: transform 430ms ease-in-out;
}
.menu-plat__nom {
  font-size: 1.2em;
  margin: unset;
}
.menu-plat__description {
  margin: unset;
}
.menu-plat--0 {
  animation: plat 300ms ease-in-out backwards;
  animation-delay: 0ms;
}
.menu-plat--1 {
  animation: plat 300ms ease-in-out backwards;
  animation-delay: 70ms;
}
.menu-plat--2 {
  animation: plat 300ms ease-in-out backwards;
  animation-delay: 140ms;
}
.menu-plat--3 {
  animation: plat 300ms ease-in-out backwards;
  animation-delay: 210ms;
}
.menu-plat--4 {
  animation: plat 300ms ease-in-out backwards;
  animation-delay: 280ms;
}
.menu-plat--5 {
  animation: plat 300ms ease-in-out backwards;
  animation-delay: 350ms;
}
.menu-plat--6 {
  animation: plat 300ms ease-in-out backwards;
  animation-delay: 420ms;
}
.menu-plat--7 {
  animation: plat 300ms ease-in-out backwards;
  animation-delay: 490ms;
}
.menu-plat--8 {
  animation: plat 300ms ease-in-out backwards;
  animation-delay: 560ms;
}
.menu-plat--9 {
  animation: plat 300ms ease-in-out backwards;
  animation-delay: 630ms;
}
.menu-plat--10 {
  animation: plat 300ms ease-in-out backwards;
  animation-delay: 700ms;
}

.menu-img {
  width: 100%;
}

.figure__image {
  width: 100%;
}

.footer {
  margin-top: -90px;
  background-color: #333333;
  color: white;
  padding-left: 25px;
  padding-top: 30px;
  padding-bottom: 40px;
  display: flex;
  flex-direction: column;
}
.footer__logo {
  font-family: Shrikhand, Arial, serif;
  margin-top: -10px;
}
.footer__link {
  text-decoration: none;
  color: white;
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}
.footer__link p {
  margin: unset;
  padding-left: 10px;
}
.footer__link i {
  width: 20px;
}

/*# sourceMappingURL=style.css.map */
