@font-face { /* police utilisé pour le site */
  font-family: 'Shrikhand';
  src: url('../font/Shrikhand.ttf') format('truetype'),
  url('../font/Shrikhand.otf') format('embedded-opentype'),
  url('../font/Shrikhand.woff') format('woff'),
  url('../font/Shrikhand.woff2') format('woff2'),
  url('../font/Shrikhand.svg') format('svg'),
  url('../font/Shrikhand.eot') format('eot');
}

@font-face {
    font-family: 'robotoregular';
    src: url('../font/Roboto-Regular-webfont.eot') format('embedded-opentype'),
         url('../font/Roboto-Regular-webfont.woff') format('woff'),
         url('../font/Roboto-Regular-webfont.ttf') format('truetype'),
         url('../font/Roboto-Regular-webfont.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

$font: (font-titre:Shrikhand, font-text:robotoregular);


$clr-1:#9356DC;
$clr-2:#FF79DA;
$clr-3:#99E2D0;
$clr-white:white;

// @mixin position($type,){
//   position :relative;
//   top :$dist;
// }

@mixin position($type, $top:auto, $left:auto, $bottom:auto, $right:auto){
  position:$type;
  top:$top;
  left:$left;
  bottom:$bottom;
  right:$right;
}

body {
  margin: unset;
  font-family: map-get($font, font-text), Arial, serif;
}

.btn{
  border-radius: 1.5em;
  background: linear-gradient($clr-2,$clr-1);
  height: 3em;
  width: 50%;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: white;
  box-shadow: 5px 5px 5px darken($clr-white,10%);
}

.header{
  display: flex;
  justify-content: center;
  align-content: center;


  &__heading {
    // height: 30px;
    font-family: map-get($font, font-titre), Arial, serif;
    margin-top: 10px;
    margin-bottom: 6px;

  }


  &__back {
    @include position(absolute,25px,25px);
    font-size: 20px;
    color: black;
  }
}

.location{
  display: flex;
  background-color: darken($clr-white,8%);
  justify-content: center;
  align-items: center;
  height :50px;
  box-shadow: inset 0px 5px 2px darken($clr-white,14%) ;

  form{
    width:40%;
  }

  &__input{
    color: black;
    background-color: darken($clr-white,8%);
    border:none;
    margin-left: 10px;
  }
}


.presentation{
  background-color: darken($clr-white,4%);
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding-top: 40px;
  padding-bottom: 60px;

  &__title{
    margin-top: unset;
    width:70%;

  }

  &__text{
    margin-bottom: 25px;
    width:80%;
  }

  &__btn{
    width:65%;
  }
}

.fonctionnement{
  display: flex;
  flex-direction: column;

  .etape{
    display: flex;
    align-items: center;
    background-color: darken($clr-white,4%);
    box-shadow: 5px 5px 5px darken($clr-white,10%);
    width: 90%;
    margin: auto;
    margin-bottom: 20px;
    border-radius: 20px;

    &__numero{
      background-color: $clr-1;
      color: $clr-white;
      width: 22px;
      text-align: center;
      border-radius: 50%;
      @include position(relative,auto,-10px);
    }

    &__icone{
      color: darken($clr-white,50%);
      margin-left: 10px;
    }
  }
}








.menu-grid{
  background-color: darken($clr-white,4%);
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
  padding-bottom: 80px;
  @include position(relative,-90px);

  &__title{
    // @include position(relative,30px,20px);
    margin: unset;
    font-family: map-get($font, font-titre), Arial, serif;
    font-size: 1.7em;
    font-weight: normal;
    width: auto;
    margin-left: 20px;
    padding-top: 30px;
  }

  &__heart{
    @include position(absolute,30px,auto,auto,30px);
    font-size: 30px;
  }

  &__text{
    margin: unset;
    margin-left:15px;
    font-weight: normal;
    text-transform: uppercase;
    font-size: 1em;
    margin-top: 30px;

    &:after{
      content: "";
      display: block;
      width:40px;
      border-top:3px solid $clr-3;
      margin-top: 3px;
    }
  }

  &__btn{
    margin-top: 50px;
  }

}

.menu-plat{
  background-color: $clr-white;
  border-radius: 15px;
  width:95%;
  margin: auto;
  position: relative;
  box-shadow: 5px 5px 5px darken($clr-white,10%);

  &__prix{
    @include position(absolute,auto,auto,10px,20px);
    margin: unset;
    font-weight: bold;
  }

  &__nom{
    @include position(relative,12px,10px);
    font-size: 1.2em;
  }

  &__description{
    @include position(relative,-12px,10px);
  }
}


.menu-img {
  width: 100%;
  // @include position(relative,-15px);
}

.figure {
  &__image{
    width: 100%;
  }
}

.footer {
  margin-top: -90px;
  background-color: darken($clr-white,80%);
  color: $clr-white;
  padding-left: 25px;
  padding-top: 30px;
  padding-bottom: 40px;
  display: flex;
  flex-direction: column;

  &__logo{
    // width: 120px;
    // filter: invert(100%);
    // margin-bottom: 30px;
    font-family: map-get($font, font-titre), Arial, serif;
    margin-top: -10px;

  }

  &__link{
    text-decoration: none;
    color: $clr-white;
    display: flex;
    align-items: center;
    margin-bottom: 5px;

    p{
      margin:unset;
      padding-left: 10px;
    }

    i{
      width: 20px;
    }
  }
}
