@font-face { /* police utilisé pour le site */
  font-family: 'Shrikhand';
  src: url('../font/Shrikhand.ttf') format('truetype'),
  url('../font/Shrikhand.otf') format('embedded-opentype'),
  url('../font/Shrikhand.woff') format('woff'),
  url('../font/Shrikhand.woff2') format('woff2'),
  url('../font/Shrikhand.svg') format('svg'),
  url('../font/Shrikhand.eot') format('eot');
}

@font-face {
    font-family: 'robotoregular';
    src: url('../font/Roboto-Regular-webfont.eot') format('embedded-opentype'),
         url('../font/Roboto-Regular-webfont.woff') format('woff'),
         url('../font/Roboto-Regular-webfont.ttf') format('truetype'),
         url('../font/Roboto-Regular-webfont.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

$font: (font-titre:Shrikhand, font-text:robotoregular);


$clr-1:#9356DC;
$clr-2:#FF79DA;
$clr-3:#99E2D0;
$clr-white:white;

$margin-title:20px;

$border-radius: 15px;

$load-duration:1.7s;
$load-delay:500ms;

$nb-plat:10;

$plat-duration:300ms;
$plat-delay:70ms;

// @mixin position($type,){
//   position :relative;
//   top :$dist;
// }

@mixin position($type, $top:auto, $left:auto, $bottom:auto, $right:auto){
  position:$type;
  top:$top;
  left:$left;
  bottom:$bottom;
  right:$right;
}

@keyframes croc{
  0%{
    opacity: 0;
  }
  1%{
    opacity: 1;
  }
  55%{
    opacity: 1;
  }
  56%{
    opacity: 0;
  }
  100%{
   opacity: 0;
  }
}

@keyframes rotateburger{
  0%{
    transform:rotate(0deg);
  }
  22%{
    transform:rotate(0deg);
  }
  75%{
    transform: rotate(5turn);
  }
  100%{
    transform:rotate(5turn);
  }
}

@keyframes page{
  0%{
    opacity:0;
  }
  100%{
    opacity: 1;
  }
}

@keyframes plat{
  0%{
    opacity: 0;
    transform: translateY(20px);
  }
  70%{

  }
  100%{
    opacity: 1;
    transform: translateY(0px);
  }
}

@keyframes add{
  0%{
    transform : translateX(80px);
  }
  100%{
    transform : translateX(0px);
  }
}


.load{
  @include position(relative,200px);
  width:100px;
  margin: auto;
  margin-top: -100px;
  animation: rotateburger $load-duration cubic-bezier(0.98,0.09,0.11,0.98) $load-delay infinite;


  &__burger{
    font-size: 100px;
    color: $clr-1;
  }

  &__croc{
    width:30px;
    height: 30px;
    border-radius: 50%;
    background-color:white;
    animation: croc $load-duration $load-delay backwards infinite;

    &--1{
      @include position(absolute,0px,0px);
    }
    &--2{
      @include position(absolute,15px,-2px);
    }
    &--3{
      @include position(absolute,25px,-10px);
    }

  }

}

.page{
  animation: page 500ms 3s both;
}

body {
  margin: unset;
  font-family: map-get($font, font-text), Arial, serif;
}

.btn{
  border-radius: 1.5em;
  background: linear-gradient($clr-2,$clr-1);
  height: 3em;
  width: 50%;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: white;
  box-shadow: 5px 5px 5px darken($clr-white,10%);
  position: relative;
  z-index: 1;

  &:hover{
    box-shadow: 5px 5px 5px darken($clr-white,15%);
    &::after{
      opacity:1;
    }
  }

  &::after{
    content: "";
    border-radius: 1.5em;
    @include position(absolute,0,0,0,0);
    background: linear-gradient(lighten($clr-2,10%),lighten($clr-1,10%));
    opacity: 0;
    z-index: -1;
    transition: opacity 250ms ease-in-out;
  }
}

.header{
  display: flex;
  justify-content: center;
  align-content: center;


  &__heading {
    // height: 30px;
    font-family: map-get($font, font-titre), Arial, serif;
    margin-top: 10px;
    margin-bottom: 6px;

  }


  &__back {
    @include position(absolute,25px,25px);
    font-size: 20px;
    color: black;
  }
}

.location{
  display: flex;
  background-color: darken($clr-white,8%);
  justify-content: center;
  align-items: center;
  height :50px;
  box-shadow: inset 0px 5px 2px darken($clr-white,14%) ;

  form{
    width:40%;
  }

  &__input{
    color: black;
    background-color: darken($clr-white,8%);
    border:none;
    margin-left: 10px;
  }
}


.presentation{
  background-color: darken($clr-white,4%);
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding-top: 40px;
  padding-bottom: 60px;

  &__title{
    margin-top: unset;
    width:70%;

  }

  &__text{
    margin-bottom: 25px;
    width:80%;
  }

  &__btn{
    width:65%;
  }
}

.fonctionnement{
  display: flex;
  flex-direction: column;
  padding-top: 20px;
  padding-bottom: 40px;

  &__title{
    margin-left: $margin-title;
  }

  .etape{
    display: flex;
    align-items: center;
    background-color: darken($clr-white,4%);
    box-shadow: 5px 5px 5px darken($clr-white,10%);
    width: 90%;
    margin: auto;
    margin-bottom: 20px;
    border-radius: $border-radius;

    &__numero{
      background-color: $clr-1;
      color: $clr-white;
      width: 22px;
      text-align: center;
      border-radius: 50%;
      @include position(relative,auto,-10px);
    }

    &__icone{
      color: darken($clr-white,50%);
      margin-left: 10px;
      width: 19px;
      margin-right: 20px;
    }

    &__text{
      font-weight: 600;
    }
  }
}

.restaurant-grid{
  background-color: darken($clr-white,4%);
  padding-top: 20px;
  padding-bottom: 140px;

  &__title{
    margin-left: $margin-title;
  }
}

.restaurant-link{
  background-color: $clr-white;

  width:90%;
  margin: auto;
  display: block;
  box-shadow: 5px 5px 5px darken($clr-white,10%);
  text-decoration: none;
  color: black;
  position: relative;
  border-radius: $border-radius;
  margin-bottom: 15px;

  &__nouveau{
    margin: unset;
    @include position(absolute, 15px, auto, auto,15px);
    color: darken($clr-3,40%);
    background-color: $clr-3;
    padding: 3px 10px;
    border-radius: 2px;
  }
}

.figure{
  margin: unset;


  &__image{
    border-top-right-radius: $border-radius;
    border-top-left-radius: $border-radius;
  }

  &__caption{
    padding-left: 15px;
    padding-bottom: 15px;
    position: relative;


    h3{
      margin-top: 10px;
      margin-bottom: 0px;
    }

    p{
      margin-top: 5px;
      margin-bottom: 0px;
    }


    i{
      @include position(absolute,10px,auto,auto,20px);
      font-size: 20px;
      z-index: 1;
      &:hover{
        &::after{
          transform:scale(1);
        }
      }

      &::after{
        font-family: "Font Awesome 5 Free";
        font-weight: 900;
        content:"\f004";
        background: -webkit-linear-gradient($clr-2,$clr-3);
        -webkit-text-fill-color: transparent;
        -webkit-background-clip: text;
        @include position(absolute,0,0,0,0);
        transform-origin: 50%  100%;
        transform:scale(0);
        z-index: -1;
        transition: transform 800ms ease-in-out;
      }
    }
  }

}









.menu-grid{
  background-color: darken($clr-white,4%);
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
  padding-bottom: 80px;
  @include position(relative,-90px);
  z-index: 100;

  &__title{
    // @include position(relative,30px,20px);
    margin: unset;
    font-family: map-get($font, font-titre), Arial, serif;
    font-size: 1.7em;
    font-weight: normal;
    width: auto;
    margin-left: 20px;
    padding-top: 30px;
  }

  &__heart{
    @include position(absolute,30px,auto,auto,30px);
    font-size: 30px;
  }

  &__text{
    margin: unset;
    margin-left:15px;
    font-weight: normal;
    text-transform: uppercase;
    font-size: 1em;
    margin-top: 30px;

    &::after{
      content: "";
      display: block;
      width:40px;
      border-top:3px solid $clr-3;
      margin-top: 3px;
    }
  }

  &__btn{
    margin-top: 50px;
  }

}

.menu-plat{
  background-color: $clr-white;
  border-radius: 15px;
  width:90%;
  margin: auto;
  margin-top: 15px;
  padding-left: 12px;
  padding-top: 12px;
  padding-bottom: 12px;
  position: relative;
  box-shadow: 5px 5px 5px darken($clr-white,10%);
  z-index: 1;
  overflow: hidden;

  &:hover{
    .add{
      transform: translateX(0px);
      // width:70px;
    }
    .check{
      transform:rotate(0);
    }
    // animation:add 500ms ease-in-out backwards;
    // animation:add 500ms ease-in-out alternate;
    .menu-plat__prix{
      transform: translate(-60px);
    }
  }

  .add{
    content: "";
    @include position(absolute, 0px, auto, auto, 0px);
    width:60px;
    height: -webkit-fill-available;
    color:$clr-white;
    background-color: $clr-3;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top-right-radius: inherit;
    border-bottom-right-radius: inherit;
    z-index: -100;
    transform: translateX(60px);
    transition: transform 430ms ease-in-out;

  }

  .check{
    transform : rotate(-1turn);
    transition: transform 330ms ease-in-out 100ms;
  }


  &__prix{
    @include position(absolute,auto,auto,10px,20px);
    margin: unset;
    font-weight: bold;
    transition: transform 430ms ease-in-out;
  }

  &__nom{
    // @include position(relative,12px,10px);
    font-size: 1.2em;
    margin:unset;
  }

  &__description{
    // @include position(relative,-12px,10px);
    margin:unset;
  }

  @for $i from 0 through $nb-plat {
    &--#{$i} {
      animation: plat $plat-duration ease-in-out backwards;
      animation-delay: $plat-delay * $i;
    }
  }
}

.menu-img {
  width: 100%;
  // @include position(relative,-15px);
}

.figure {
  &__image{
    width: 100%;
  }
}

.footer {
  margin-top: -90px;
  background-color: darken($clr-white,80%);
  color: $clr-white;
  padding-left: 25px;
  padding-top: 30px;
  padding-bottom: 40px;
  display: flex;
  flex-direction: column;

  &__logo{
    // width: 120px;
    // filter: invert(100%);
    // margin-bottom: 30px;
    font-family: map-get($font, font-titre), Arial, serif;
    margin-top: -10px;

  }

  &__link{
    text-decoration: none;
    color: $clr-white;
    display: flex;
    align-items: center;
    margin-bottom: 5px;

    p{
      margin:unset;
      padding-left: 10px;
    }

    i{
      width: 20px;
    }
  }
}
